# Supabase Configuration (Public)
VITE_SUPABASE_URL="https://lypcvceuglabzhcymlsj.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5cGN2Y2V1Z2xhYnpoY3ltbHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MDk4MzQsImV4cCI6MjA5MTk4NTgzNH0.NA5S0H8CJ3yaU7pJnGw_B-d6ovEE2E0zBs1MixE1fkE"
